<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>custmerservis</title>
</head>
<body>
    <div class="category">
        <input type="button" value="카테고리">
    </div>

    <div class="logo">
        <a href="http://localhost:8000/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>

    <div class="search">
        <input type="text" name="" id="" placeholder="찾고 싶은 상품을 검색해보세요!">
    </div>

    <div class="login">
        <a href="http://localhost:8000/login/"><span>로그인</span></a>
        <a href="http://localhost:8000/membership/"><span>회원가입</span></a>
        <a href="http://localhost:8000/custmer/"><span>고객센터</span></a>
    </div>
    
    <div class="mypage">
        <a href="http://localhost:8000/mypage/"><span>마이페이지</span></a>
    </div>

    <div class="shopping">
        <a href="http://localhost:8000/shopping/"><span>장바구니</span></a>
    </div>

    <div class="content">
        <div class="serach">
            <input type="text" placeholder="자주묻는 질문">
            <input type="button" value="채팅 상담하기">
        </div>
        <div class="tage">
            <span>문의 내역</span>
            <span>자주묻는 질문</span>
            <span>고객의 소리</span>
            <span>소식</span>
        </div>
        <div class="list">
            <span>교환/환불 안내</span><br>
            <span>와우 멤버십 안내</span><br>
        </div>
    </div>
</body>
</html>