<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <a href="http://localhost:8000/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>

    <div class="find">
        <p>아이디(이메일)찾기</p> <P>비밀번호 찾기</P>
        <div class="findbox">
            <input type="checkbox" name="usercheck">본인 확인 후 찾기
            <input type="checkbox" name="phonenumber">등록된 휴대폰 번호로 찾기<br>
            <input type="button" value="본인명의 휴대폰으로 인증">
        </div>
        
    </div>
</body>
</html>