<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="category">
        <input type="button" value="카테고리">
    </div>

    <div class="logo">
        <a href="http://localhost:8000/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>

    <div class="search">
        <input type="text" name="" id="itemsearch" placeholder="찾고 싶은 상품을 검색해보세요!">
    </div>

    <div class="login">
        <a href="http://localhost:8000/login/"><span>로그인</span></a>
        <a href="http://localhost:8000/membership/"><span>회원가입</span></a>
        <a href="http://localhost:8000/custmer/"><span>고객센터</span></a>
    </div>
    
    <div class="mypage">
        <a href="http://localhost:8000/mypage/"><span>마이페이지</span></a>
    </div>

    <div class="shopping">
        <a href="http://localhost:8000/shopping/"><span>장바구니</span></a>
    </div>

    <div class="find">
        <span>아이디(이메일)찾기</span> <span>비밀번호 찾기</span>
        <div class="container">
            <input type="checkbox" name="usercheck">본인 확인 후 찾기
            <input type="checkbox" name="phonenumber">등록된 휴대폰 번호로 찾기<br>
            <input type="button" value="본인명의 휴대폰으로 인증">
        </div>
        
    </div>
</body>
</html>