<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="header">
    <div class="category">
        <input type="button" value="">
    </div>

    <div class="logo">
        <a href="http://localhost:8000/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>

    <div class="search">
        <input type="text" name="" id="itemsearch" placeholder="찾고 싶은 상품을 검색해보세요!">
    </div>

    <div class="login">
        <a href="http://localhost:8000/login/"><span>로그인</span></a>
        <a href="http://localhost:8000/membership/"><span>회원가입</span></a>
        <a href="http://localhost:8000/custmer/"><span>고객센터</span></a>
    </div>
    
    <div class="mypage">
        <a href="http://localhost:8000/mypage/"><span>마이페이지</span></a>
    </div>

    <div class="shopping">
        <a href="http://localhost:8000/shopping/"><span>장바구니</span></a>
    </div>

</div>
<div class="main">
    <div class="content">
        <div class="event">
            <img src="https://www.thinkfood.co.kr/news/photo/202203/94122_122618_2048.jpg" alt="이미지 없음">
        </div>
        <div class="popular">
            <img src="https://blog.kakaocdn.net/dn/X9XvB/btq3DFldS3R/44XDvduIZSsGBogxWTj1wk/img.jpg" alt="이미지 없음">
        </div>
        <div class="recommend">
            <img src="https://image.auction.co.kr/itemimage/1e/6c/78/1e6c78dfb1.jpg" alt="이미지 없음">
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
</html>