<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
<div class="header">
    <div class="category">
        <input type="button" value="카테고리">
    </div>

    <div class="logo">
        <a href="/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>

    <div class="search">
        <input type="text" name="" id="itemsearch" placeholder="찾고 싶은 상품을 검색해보세요!">
    </div>

    <div class="login">
        <a href="/login/"><span>로그인</span></a>
        <a href="/membership/"><span>회원가입</span></a>
        <a href="/customer/"><span>고객센터</span></a>
    </div>
    
    <div class="mypage">
        <a href="/mypage/"><span>마이페이지</span></a>
    </div>

    <div class="shopping">
        <a href="/shopping/"><span>장바구니</span></a>
    </div>

</div>
</header>
<div class="main">
    <div class="content">
        <div class="event">
            <img src="https://www.thinkfood.co.kr/news/photo/202203/94122_122618_2048.jpg" alt="이미지 없음">
        </div>
        <div class="popular">
            <img src="https://blog.kakaocdn.net/dn/X9XvB/btq3DFldS3R/44XDvduIZSsGBogxWTj1wk/img.jpg" alt="이미지 없음">
        </div>
        <div class="recommend">
            <img src="https://image.auction.co.kr/itemimage/1e/6c/78/1e6c78dfb1.jpg" alt="이미지 없음">
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <a href="/company/"><span>회사정보</span></a>
    </div>
    <div class="empoly">
        <a href="">인재채용</a>
    </div>

    <div class="enter">
        <a href="">입점/ 제휴문의</a>
    </div>

    <div class="notice">
        <a href="">공지사항</a>
    </div>
</footer>
</body>
</html>