<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginpage</title>
</head>
<body>
    <div class="logo">
        <a href="http://localhost:8000/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>

    <div class="testbox">
        <input type="text" placeholder="아이디(이메일)"><br>
        <input type="password" placeholder="비밀번호"><br>
        <input type="checkbox" name="autologin" id="">자동 로그인
        <a href="http://localhost:8000/find/">아이디/비밀번호 찾기></a><br>
        <input type="button" value="로그인">
        <hr>
        <input type="button" value="회원가입">
    </div>
</body>
</html>