<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <a href="http://localhost:8000/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>
    <p>회원정보를 입력해주세요</p>
    <input type="text" placeholder="아이디(이메일)"><br>
    <input type="password" placeholder="비밀번호"><br>
    <input type="password" placeholder="비밀번호 확인"><br>
    <input type="text" placeholder="이름"><br>
    <input type="tel" placeholder="휴대폰 번호"><br>
    <input type="checkbox" name="" id="checkbox">모두 확인하였으며 동의합니다.

    <div class="container">
        <input type="checkbox" name="" id="checkbox">[필수] 만 14세 이상입니다<br>
        <input type="checkbox" name="" id="checkbox">[필수] 이용약관 동의<br>
        <input type="checkbox" name="" id="checkbox">[필수] 전자금융거래 이용약관 동의<br>
        <input type="checkbox" name="" id="checkbox">[필수] 개인정보 수집 및 이용 동의<br>
        <input type="checkbox" name="" id="checkbox">[필수] 개인정보 제 3자 제공 동의<br>
        <input type="checkbox" name="" id="checkbox">[선택] 마케팅 목적의 개인정보 수집 및 이용 동의<br>
        <input type="checkbox" name="" id="checkbox">[선택] 광고성 정보 수신 동의<br>
        <input type="checkbox" name="" id="checkbox">[선택] 이메일 수신 동의<br>
        <input type="checkbox" name="" id="checkbox">[선택] SMS, SNS 수신 동의<br>
        <input type="checkbox" name="" id="checkbox">[선택] 앱 푸시 수신 동의<br>
    </div>
    <input type="button" value="동의하고 계속하기">
</body>
</html>