<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <a href="http://localhost:8000/homepage/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Coupang_logo.svg/1280px-Coupang_logo.svg.png" width="250px" alt="이미지가 존재하지 않습니다"></a>
    </div>
    <hr>
    <div class="container">
        <img src="https://image.auction.co.kr/itemimage/1e/6c/78/1e6c78dfb1.jpg" width="100px" alt="">
    </div>

    <div class="price">
        <textarea name="" id="text" cols="50" rows="10">상품가격 원 + 총 배송비 0원 = 총 주문금액 원</textarea>
    </div>
    <div class="button">
        <input type="button" value="계속 둘러보기">
        <input type="button" value="구매하기">
    </div>
    
</body>
</html>